extends base

block content

  if (success)
    div#postup(class="alert alert-success" role="alert") #{ success }
  - var username = user.username;
  div#makepost
    h1 Welcome, #[a(href='/' + username)= user.username]!
    form(method='POST' action='/')
      div#posttext(class="form-group")
        label(for='post') Make a new post:
        if (errors.post)
          textarea#post(class="form-control is-invalid" type='text', placeholder='Type Here' name='post' rows="4")
          div(class="invalid-feedback")= errors.post.msg
        else
          textarea#post(class="form-control" type='text', placeholder='Type Here' name='post' rows="4")

      button.btn.btn-primary(type='submit') Post
  div#homeFeed
    each post in posts
      include _post.pug
