extends base

block content

  div#userprofile
    - var username = profileUser.username;
    img#userimage(src="/images/profile.png" height="200px" width="200px")
    h1#username= username
    p#bio Hello my friend
    div#followers Followers: #{followers}
    div#following Following: #{following}
    br
    if(user.username !== profileUser.username)
      if(!isFollowing)
        a#followButton(class="btn btn-primary" href='/follow/' + username) Follow
      else
        a#unfollowButton(class="btn btn-secondary" href='/unfollow/' + username) Unfollow
  div#posts
    each post in posts
      include _post.pug
