extends base

block content

  div#userprofile
    img#userimage(src="/images/profile.png" height="200px" width="200px")
    h1#username= user.username
    p#bio Hello my friend
  div#posts
    each post in posts
      include _post.pug
